/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./vite-promo.css');

* {
  box-sizing: border-box;
}

body {
  margin: 24px 156px;
}
ul,
ol {
  list-style-type: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  row-gap: 24px;
  column-gap: 24px;
  padding: 0;
  align-items: center;
  justify-items: center;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-image:hover {
  cursor: pointer;
  border: 1px solid blue;
}
.gallery-image {
  width: 100%;
  height: auto;
  display: block;
}
.feedback-form {
  width: 408px;
  padding: 24px;
}
label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(46, 47, 66, 1);
}
button {
  width: 95px;
  height: 40px;
  padding: 8px 16px;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background: rgba(78, 117, 255, 1);
  margin-top: 16px;
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
}
button:hover,
button:focus {
  background: rgba(108, 140, 255, 1);
}
input:hover {
  border: 1px solid #000;
}
